# Copy to inventory.ini and fill in the IPs from: terraform output
# cp inventory.ini.example inventory.ini

[webservers]
web1 ansible_host=<NGINX_PUBLIC_IP_1>
web2 ansible_host=<NGINX_PUBLIC_IP_2>

[monitoring]
monitor1 ansible_host=<MONITORING_PUBLIC_IP>

[all:vars]
ansible_python_interpreter=/usr/bin/python3
